@page "/recipeprint/{RecipeID:int}"

@using RecipeLewis.Data
@inherits RecipePrintBase

@using IModel = Models.RecipeModel

<div id="recipePrintPage">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>@Model.Title</h1>
    </div>
  </div>
  <EditForm Model="Model">
    <div class="row">
      <div class="col-md-12">
        <RadzenFieldset Text="Recipe Info">
          <div class="row">
            <div class="col-sm-2 d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Author" />
            </div>
            <div class="col-sm-4">
              <span>@Model.Author</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-2 d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Description" />
            </div>
            <div class="col-md-9">
              <span>@Model.Description</span>
            </div>
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenFieldset Text="Details">
          <div class="row align-items-center">
            <div class="col-auto d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Serving Size" />
            </div>
            <div class="col-auto">
              <span>@Model.ServingSize</span>
            </div>
            <div class="col-auto col-offset-2 d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Number of Servings" />
            </div>
            <div class="col-auto">
              <span>@Model.NumberOfServings</span>
            </div>
          </div>
          <div class="row align-items-center mt-2">
            <div class="col-auto d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Prep Time" />
            </div>
            <div class="col-auto">
              <span>@Model.PrepTime</span>
            </div>
            <div class="col-auto d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Cook Time" />
            </div>
            <div class="col-auto">
              <span>@Model.CookTime</span>
            </div>
            <div class="col-auto d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Inactive Time" />
            </div>
            <div class="col-auto">
              <span>@Model.InactiveTime</span>
            </div>
            <div class="col-auto d-flex">
              <RadzenLabel Style="font-weight: bold;" Text="Total Time" />
            </div>
            <div class="col-auto">
              <span>@Model.TotalTime</span>
            </div>
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <RadzenFieldset Text="Ingredients">
          <div class="row align-items-center">
            <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Sections.Where(x => !x.DeletedDateTime.HasValue && x.EntityType == EntityType.Ingredient).ToList()" TItem="Models.SectionModel">
              <Template Context="section">
                <div class="row">
                  <div class="col-12">
                    <div class="col-auto mb-2" style="position: relative; margin-left: -35px;">
                      <RadzenLabel Text="@(section.Title)" />
                    </div>
                    <ul style="width: 100%; padding: 0;">
                      <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Ingredients.Where(x => ((x.Section.SectionID > 0 && x.Section.SectionID == section.SectionID) || x.Section.TempID == section.TempID) && !x.DeletedDateTime.HasValue).ToList()" TItem="Models.IngredientModel">
                        <Template Context="ingredient">
                          <li>
                            <span>@ingredient.Title</span>
                          </li>
                        </Template>
                      </RadzenDataList>
                    </ul>
                  </div>
                </div>
              </Template>
            </RadzenDataList>
            @*<ul style="width: auto;">
                <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Ingredients.ToList()" TItem="Models.IngredientModel">
                  <Template Context="ingredient">
                    <li>
                      <span>@ingredient.Title</span>
                    </li>
                  </Template>
                </RadzenDataList>
              </ul>*@
          </div>
        </RadzenFieldset>
      </div>
      <div class="col-md-6">
        <RadzenFieldset Text="Steps">
          <div class="row align-items-center">
            <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Sections.Where(x => !x.DeletedDateTime.HasValue && x.EntityType == EntityType.Step).ToList()" TItem="Models.SectionModel">
              <Template Context="section">
                <div class="row">
                  <div class="col-12">
                    <div class="col-auto mb-2" style="position: relative; margin-left: -35px;">
                      <RadzenLabel Text="@(section.Title)" />
                    </div>
                    <ol style="width: 100%; padding: 0;">
                      <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Steps.Where(x => ((x.Section.SectionID > 0 && x.Section.SectionID == section.SectionID) || x.Section.TempID == section.TempID) && !x.DeletedDateTime.HasValue).ToList()" TItem="Models.StepModel">
                        <Template Context="step">
                          <li>
                            <span>@step.Title</span>
                          </li>
                        </Template>
                      </RadzenDataList>
                    </ol>
                  </div>
                </div>
              </Template>
            </RadzenDataList>
            @*<ol style="width: auto;">
                <RadzenDataList PageSize="15" class="datalist-block" WrapItems="true" AllowPaging="true" Data="@Model.Steps.ToList()" TItem="Models.StepModel">
                  <Template Context="step">
                    <li>
                      <span>@step.Title</span>
                    </li>
                  </Template>
                </RadzenDataList>
              </ol>*@
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="align-content-center col-md-12 d-flex justify-content-center" style="margin-top: 16px;">
        <button type="button" class="btn btn-secondary d-print-none" @onclick="Print">Print</button>
        <button type="button" class="btn btn-secondary d-print-none offset-1" @onclick="Close">Go Back</button>
      </div>
    </div>
  </EditForm>
</div>