@page "/recipeprint/{RecipeID:int}"

@using RecipeLewis.Data
@inherits RecipePrintBase

@using IModel = Models.RecipeModel

<div id="recipePrintPage">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>@Model.Title</h1>
    </div>
  </div>
  <EditForm Model="Model">
    <div class="row">
      <div class="col-md-12">
        <RadzenFieldset Text="Recipe Info">
          <div class="row">
            <div class="col-md-1 col-offset-2 d-flex">
              <RadzenLabel Text="Author" />
            </div>
            <div class="col-md-4">
              <RadzenTextBox Name="Author" Style="width: 100%;" Disabled="true" @bind-Value="Model.Author" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Description" />
            </div>
            <div class="col-md-9">
              <RadzenTextArea Name="Description" Style="width: 100%;" Disabled="true" @bind-Value="Model.Description" />
            </div>
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenFieldset Text="Details">
          <div class="row">
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Serving Size" />
            </div>
            <div class="col-md-3">
              <RadzenTextBox Name="ServingSize" Style="width: 100%;" Disabled="true" @bind-Value="Model.ServingSize" />
            </div>
            <div class="col-md-2 col-offset-2 d-flex">
              <RadzenLabel Text="Number of Servings" />
            </div>
            <div class="col-md-3">
              <RadzenTextBox Name="ServingsAmount" Style="width: 100%;" Disabled="true" @bind-Value="Model.ServingSize" />
            </div>
          </div>
          <div class="row align-items-center mt-2">
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Prep Time" />
            </div>
            <div class="col-md-2">
              <RadzenTextBox Name="PrepTimeStr" Style="width: 100%;" Disabled="true" @bind-Value="Model.PrepTimeStr" />
            </div>
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Cook Time" />
            </div>
            <div class="col-md-2">
              <RadzenTextBox Name="CookTimeStr" Style="width: 100%;" Disabled="true" @bind-Value="Model.CookTimeStr" />
            </div>
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Inactive Time" />
            </div>
            <div class="col-md-2">
              <RadzenTextBox Name="InactiveTimeStr" Style="width: 100%;" Disabled="true" @bind-Value="Model.InactiveTimeStr" />
            </div>
            <div class="col-md-1 d-flex">
              <RadzenLabel Text="Total Time" />
            </div>
            <div class="col-md-2">
              <RadzenTextBox Name="TotalTimeStr" Style="width: 100%;" Disabled="true" @bind-Value="Model.TotalTimeStr" />
            </div>
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <RadzenFieldset Text="Ingredients">
          <div class="row align-items-center mt-3">
            <ul>
              <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Model.Ingredients.ToList()" TItem="Models.IngredientModel">
                <Template Context="ingredient">
                  <li>
                    <RadzenTextBox class="form-group" style="width: 100%;" Name="IngredientTitle" @bind-Value="@ingredient.Title" />
                  </li>
                </Template>
              </RadzenDataList>
            </ul>
          </div>
        </RadzenFieldset>
      </div>
      <div class="col-md-6">
        <RadzenFieldset Text="Steps">
          <div class="row align-items-center mt-3">
            <ol>
              <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Model.Steps.ToList()" TItem="Models.StepModel">
                <Template Context="step">
                  <li>
                    <RadzenTextBox class="form-group" style="width: 100%;" Name="StepTitle" @bind-Value="@step.Title" />
                  </li>
                </Template>
              </RadzenDataList>
            </ol>
          </div>
        </RadzenFieldset>
      </div>
    </div>
    <div class="row">
      <div class="align-content-center col-md-12 d-flex justify-content-center" style="margin-top: 16px;">
        <button type="button" class="btn btn-secondary d-print-none" @onclick="Print">Print</button>
        <button type="button" class="btn btn-secondary d-print-none offset-1" @onclick="Close">Go Back</button>
      </div>
    </div>
  </EditForm>
</div>